/rdbc/src/nbproject/private/
/rdbc/src/nbproject/project.properties
/rdbc/src/nbproject/project.xml
/rbdc/src/nbproject/project.properties
/rbdc/src/nbproject/project.xml
/rbdc/src/nbproject/private/private.properties